langchain==0.0.311
Flask==3.0.0
requests==2.31.0
openai==1.1.0
neo4j==5.14.1
serpapi==0.1.5
beautifulsoup4==4.12.2
PyMySQL==1.1.0
pymysql-pool==0.4.6
urllib3==1.25.1
DBUtils==3.0.3
tiktoken==0.5.1
mysqlclient==2.2.0